
@{
    ViewBag.Title = "Add";
}

<h2>Add Species</h2>
<form method="post" action="/Species/Add">
    
    <div>
        <input name="SpeciesName" id="SpeciesName"/>
    </div>
    <input type="submit" value="+ Species"/>

</form>

