@using PetGrooming.Models
@model List<PetGrooming.Models.Species>


@{
    ViewBag.Title = "List";
}

<h2>List of Species</h2>
@{ 
    foreach (var species in @Model) {

    <div>
        @species.Name
        
        <a href="/Species/Delete"> Delete</a>
        <a href="/Species/Show/@species.SpeciesId"> Details</a>
    </div>
        
    }
}