@using PetGrooming.Models
@model List<PetGrooming.Models.Species>


@{
    ViewBag.Title = "List";
}

<h2>List of Species</h2>
<!--A button to add species-->
<a href="/Species/Add">Add Species</a>
@{
    foreach (var species in @Model)
    {

        <div>
            @species.Name

            <!--Delete Button-->
            <a href="/Species/Delete"> Delete</a>
            <!--Show method: Details-->
            <a href="/Species/Show/@species.SpeciesId"> Details</a>
            <!--Update method: Edit-->
            <a href="/Species/Update/@species.SpeciesId"> Edit</a>
        </div>
   

    }
}