@model  PetGrooming.Models.Species
@{
    ViewBag.Title = "Show";
}

<h2>Show a Species</h2>
<!--A link to go back to the list -->
<a href="/Species/List">Back to List</a>
<p>Species Name: @Model.Name</p>

